# Android Studio
.gradle/
.idea/
**/build/
local.properties
*.iml
captures/
.externalNativeBuild/
.cxx/

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Compiled Android files
*.apk
*.aab

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
